{{>header}}
<section class="jumbotron text-center">
      <div class="container">
          <h1 class="jumbotron-heading">Gallery</h1>
          <button type="button" class="btn btn-default btn-round-lg btn-lg" data-toggle="modal" data-target="#UploadImage">Upload Image</button>
          </p>
      </div>
</section>
<div class="modal fade" id="UploadImage">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
            <form  class="form-inline"  enctype="multipart/form-data" id="ImageUploadForm">
                <div class="form-group">
                    <label class="btn btn-default btn-file">
                            upload Image <input type="file" style="display: none;"  name="album-image" id="album-image"> 
                    </label>
                </div>
                <div class="form-group">
                    <label for="caption">Caption</label>
                    <input type="text" class="form-control" name="caption">
                    <input type="hidden" name="user_id" value="{{UserId}}">
                </div>
                <div class="form-group">
                <select name="view_status" id="input" class="form-control">
                        <option value="">-- Privacy --</option>
                        <option value="1">public</option>
                        <option value="0">private</option>
                    </select>

                </div>
            <div class="form-group">
            <input type="submit" value="Save" name="image-upload">
            </div>
            </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
       
    })
   $('#ImageUploadForm').submit(ImageSubmit);
    function ImageSubmit() {
        var formdata  = new FormData(this);
            upload(formdata, function(status){
                if(status){
                    $("#caption").val("");
                    $("#view_status").val(""); 
                    return;
                }
                alert("error");
            });
        return false;
    }
    function upload(formdata,callback)
    {
    $.ajax({
                type:'POST',
                url:"imageUpload",
                data:formdata,
                cache:false,
                contentType:false,
                processData:false,
                success:function(data)
                {
                    if(data)
                    {  
                        console.log(data);
                        callback(true)
                    }
                console.log(data); 
                },
                error:function(data){
                console.log(data);
                callback(false)
                }
            });
    }
        

</script>
{{>footer}}